<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047214648493-t6ln4cf035bvh1b4tdj8b7rg9l2v8bhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047214648493-t6ln4cf035bvh1b4tdj8b7rg9l2v8bhc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047214648493-1cnjsbaft7v1tf8iq5009nvqah9q6981.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzmyQwsoFmQiyAbhMnoMCoXiQaImGLnd0</string>
	<key>GCM_SENDER_ID</key>
	<string>1047214648493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.bayie.BayieMobileApp</string>
	<key>PROJECT_ID</key>
	<string>bayieandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>bayieandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047214648493:ios:c334cbed1087c035</string>
	<key>DATABASE_URL</key>
	<string>https://bayieandroid.firebaseio.com</string>
</dict>
</plist>